@import 'vars';

.MyOrder {
	width: 36rem;
	min-height: 80%;
	padding: 2.4rem;
	box-sizing: border-box;
	position: fixed;
	overflow-y: auto;
	right: 0;
	top: 6rem;
	bottom: 0;
	border-radius: 0.6rem;
	background-color: var(--white);
	border: 0.1rem solid var(--very-light-pink);
	animation: swipeLeft 0.26s ease;
}
.title-container {
	display: flex;
}
.title-container img {
	transform: rotate(180deg);
	margin-right: 1.4rem;
}
.title {
	font-size: var(--lg);
	font-weight: bold;
}

.title:hover {
	color: var(--hospital-green);
	cursor: pointer;
}

.arrow{
	width: 2rem;
	height: 2rem;
	padding: 0.2rem;
}

.arrow:hover{
    cursor: pointer;
	border-radius: 50%;
	border: 0.2rem solid var(--very-light-pink);
}

.my-order-content{
	display: flex;
	flex-direction: column;
}

.order {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 1.6rem;
	align-items: center;
	background-color: var(--text-input-field);
	margin-bottom: 2.4rem;
	border-radius: 0.8rem;
	padding: 0 2.4rem;
}
.order p:nth-child(1) {
	display: flex;
	flex-direction: column;
}
.order p span:nth-child(1) {
	font-size: var(--md);
	font-weight: bold;
}
.order p:nth-child(2) {
	font-size: var(--md);
	text-align: end;
	font-weight: bold;
}

.primary-button {
	background-color: var(--hospital-green);
	border-radius: 0.8rem;
	border: none;
	color: var(--white);
	width: 100%;
	cursor: pointer;
	font-size: var(--md);
	font-weight: bold;
	height: 5rem;
}

@keyframes swipeLeft {
    0% {
        width: 0;
    }
    100% {
        width: 360px;
    }
}

@media (max-width: 710px) {
	.MyOrder {
		width: 100%;
	}
}
